html{
    font-family: 'Courier New', Courier, monospace;
}
#main{
    color: rgb(223, 47, 82);
    font-weight: bold;
}
#icon,{
    background-color: rgb(223, 47, 82);
}
#outer{
    border-radius: 5px;
    background-color: rgb(223, 47, 82);
}
#home,#ac,#ts,#edu,#cm,#para{
    color:rgb(223, 47, 82);
}
#name{
    color:rgb(223, 47, 82);
    font-weight: normal;
}
#photo{
    height: 200px;
    width: auto;
}
.card{
    border: 2px solid black;
}
.card-title{
    text-align: center;
}
h5,h6{
    color: rgb(223, 47, 82);
}